:root {
  --blue-color: #1f98f4;
}
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans&family=Varela+Round&display=swap");
* {
  font-family: "Joan", Arial, sans-serif;
}
.cards {
  padding: 4rem;
  background: linear-gradient(rgb(165, 165, 165) 30%, rgb(45, 45, 255))
    no-repeat center center;
}

h1 {
  text-align: center;
  font-weight: 900;
}
.blue {
  color: blue;
}
.green {
  color: green;
}

.cards-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1110px;
  width: 91%;
  margin: 0 auto;
}

.cards-wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards-units {
  margin-bottom: 24px;
}
.cards-units.top {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cards-units.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards-unit {
  display: flex;
  flex: 1;
  margin: 0 1.5rem;
  border-radius: 11px;
  background: rgba(255, 255, 255, 0.7);
  transition: all 230ms linear;
}
.cards-unit:hover {
  opacity: 0.75;
}

.cards-unit-link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 7px 23px rgba(173, 216, 230, 0.6);
  -webkit-filter: drop-shadow(0 7px 23px rgba(173, 216, 230, 0.6));
  filter: drop-shadow(0 7px 23px rgba(173, 216, 230, 0.6));
  border-radius: 11px;
  overflow: hidden;
  text-decoration: none;
}

.cards-unit-pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards-unit-pic-wrap::after {
  content: attr(data-cat);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 5px 7px;
  max-width: calc((100%) - 60px);
  font-size: 15px;
  font-weight: 900;
  color: white;
  background-color: blue;
  box-sizing: border-box;
}

.cards-unit-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 200ms linear;
}

.cards-unit-info {
  padding: 20px 30px 30px;
}
.cards-unit-info p {
  margin-top: 7px;
  color: black;
}

.cards-unit-text {
  color: darkblue;
  font-size: 23px;
  line-height: 24px;
}

@media only screen and (min-width: 1900px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1012px) {
  .cards-unit {
    display: flex;
  }
}

@media only screen and (max-width: 1012px) {
  .cards-unit {
    margin-bottom: 2rem;
  }
  .cards-units.top {
    display: grid;
    grid-template-columns: 1fr;
  }
  .cards-units.bottom {
    display: grid;
    grid-template-columns: 1fr;
  }
}
