:root {
  --blue-color: #1f98f4;
}
@import url("https://fonts.googleapis.com/css2?family=Joan&family=Open+Sans&family=Varela+Round&display=swap");
* {
  font-family: "Open Sans", Arial, sans-serif;
}
.footer-container {
  background: linear-gradient(to left, rgb(78, 77, 77) 0%, rgb(0, 1, 69) 70%)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.report-container img {
  width: 500px;
  height: auto;
  position: initial;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  transition: all 200ms ease-in-out;
}
.report-container img:hover {
  transform: scale(0.97);
  cursor: pointer;
}
.report-container h2 {
  color: black;
  background: transparent;
  text-align: center;
  padding: 0.7em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
.report-container {
  background: rgba(255, 255, 255, 0.7);
  width: 500px;
  height: auto;
  border-radius: 1em;
  grid-column: span 2;
  justify-self: center;
}
.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 3em;
  gap: 9em;
}
.footer-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2em;
}
.footer-signup-head {
  font-size: 2em;
  text-align: center;
}
.footer-signup-text {
  font-size: 1em;
  text-align: center;
  width: 33vw;
}
.footer-signup-subtext {
  font-size: 0.7em;
}
.input-footer {
  font-size: 1.5rem;
  padding: 0.3rem;
  margin-right: 0.3rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}
.donate-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 2em;
}
.donate-section h2 {
  font-size: 2em;
  text-align: center;
}
.donate-section p {
  font-size: 1em;
  text-align: center;
  width: 33vw;
}
.donate-section Button {
  margin: 1rem;
}
.footer-links-section {
  grid-column: span 2;
  display: grid;
  grid-template-columns: repeat(5, 5fr) 1fr;
  gap: 5em;
}
.footer-link-unit {
  color: white;
}
.footer-link-unit a {
  color: lightblue;
  text-decoration: none;
}
.footer-link-unit a:hover {
  color: white;
  opacity: 0.9;
  text-decoration: underline;
  transition: all 150ms ease;
}
.footer-link-unit a:visited {
  opacity: 0.5;
  text-decoration: underline;
}
.footer-social-media {
  display: flex;
  flex-direction: column;
  color: white;
}
.footer-social-media i {
  margin-bottom: 10px;
  font-size: 3.5em;
}
.footer-social-media i:hover {
  cursor: pointer;
  color: lightblue;
  transition: all 150ms ease;
}
.sponsor-section img {
  position: inherit;
  align-self: center;
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 1012px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  .footer-links-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer-social-media {
    display: flex;
    flex-direction: row;
    gap: 2em;
    font-size: 1.5rem;
  }
  .footer-link-unit {
    flex-direction: column;
    width: 50vw;
    padding-left: 20%;
  }
  .report-container {
    align-self: center;
  }
  .footer-signup-text {
    width: 70vw;
  }
  .donate-section p {
    width: 70vw;
  }
  .sponsor-section img {
    position: inherit;
    align-self: center;
    width: 50vw;
    height: auto;
  }
}
